// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$m: 10px;
$zero: 0;
$thead-color: #E6E6B3;

.none {
	display:none;
}

h3 {
	margin: $zero;
}

.total-head {
	margin-bottom: $m;
}

.no-pad {
	padding-left:$zero;
	padding-right:$zero;
}



.panel {
	margin-bottom: $zero;
	.panel-heading {
		height: 52px;
		.plus,.minus {
			padding: $zero 30px;
			font-size: 30px;
			font-weight: bold;
			cursor: pointer;
			position: relative;
			bottom: 8px;
		}
	}
	.activity-list {
		th,td {
			padding: $m;
		}
		thead {
			tr {
				background-color: $thead-color;
			}
		}
		tbody {
			tr:nth-child(odd) {
				background-color: #FFFF99;
			}
			tr:nth-child(even) {
				background-color: #FFFFCC;
			}
		}
	}
}

.total {
	padding: $m $m;
}

.inner-container {
	border: 1px solid #DDDDDD;
	padding: 15px;
	background-color: #F5F5F5;
	border-radius: 5px;
	p {
		margin-bottom: 0;
		font-weight: bold;
	}
	hr {
		margin: 10px 0;
		border-top: 1px solid black;
		width: 120px;
	}
	button {
		width: 100%
	}
}